
<!--<div class="clearfix hidden-lg hidden-md "></div>-->

<!--<div class="col-xs-6 col-lg-2 col-sm-6 col-md-2">-->
  <div id="main">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <ul >
          <li><a href="" class="city-info">City Info</a></li> <%#= link_to "Customer Info", role_customers_path %>
          <li><a href="" class="default-view"> <%= link_to "Edit city info", edit_city_management_path(current_user) %></a></li>
          <li><a href="#">View all Product</a></li>
          <li><a href="#">Edit Product</a></li>
          </ul>


          <!--</div> &lt;!&ndash;   end of sidebar&ndash;&gt;-->
          </div>
          </div>
      </div>

      </div>



