
<!--table responsive and  scrolls horizontally-->

  <div class="table-responsive">
  <div class="container">
    <h2>Table</h2>
    <p>The .table-hover class enables a hover state on table rows within a tbody:</p>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Email</th>
        <th>Ordered Item</th>
        <th>Product Infor</th>
        <th>Address</th>
        <th>city</th>
        <th>country</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Anna</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Debbie</td>
      </tr>
      <tr>
        <td>3</td>
        <td>John</td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>