
  <h2>Table</h2>
  <p>The .table-responsive class creates a responsive table which will scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, there is no difference:</p>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Customer Name</th>
        <th>Localized Category</th>
        <th> Products</th>
        <th>City</th>
        <th>Country</th>
      </tr>
      </thead>
      <tbody>


      </tbody>
    </table>
  </div>