

<!--table responsive and  scrolls horizontally-->

<div class="table-responsive"  id="customer-info" >
  <div class="container">
    <h2>List of all Customer</h2>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name </th>
        <th>DOB</th>
        <th>Country</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
      </tr>
      </thead>

      <!--<%# profiles.each do |profile| %>-->
          <!--<tr>-->
            <!--<td><%#= profile[:first_name] %></td>-->
            <!--<td><%#= profile[:last_name]%></td>-->
            <!--<td><%#= profile[:date_of_birth] %></td>-->
            <!--<td><%#= profile[:country_of_birth] %></td>-->
            <!--<td><%#= link_to "Show", profile %></td>-->
            <!--<td><%#= link_to "Edit", edit_customer_path(profile) %></td>-->
            <!--<td><%#= link_to "Remove", profile, method: :delete, data: { confirm: "Are you sure?" } %></td>-->
          <!--</tr>-->
      <!--<%# end %>-->
      <tr>




      <% @profiles.each do |key, value| %>
          <td><%=  "#{value}" %></td>

      <% end %>
        <td><%= link_to "Show", role_customer_path(@profiles[:id]) %></td>
        <td><%= link_to "Edit", edit_role_customer_path(@profiles[:id]) %></td>
        <td><%= link_to "Remove", role_customer_path(@profiles[:id]), method: :delete, data: { confirm: "Are you sure?" } %></td>

      </tr>
      <%# end %>
      <!--</tr>-->
      <!--<tr>-->
        <!--<td></td>-->
        <!--<td>Anna</td>-->
        <!--<td><%#= @profile[:first_name] %></td>-->
        <!--<td><%#= @profile[:last_name] %></td>-->
        <!--<td><%#= @profile[:date_of_birth] %></td>-->
        <!--<td><%#= @profile[:country_of_residence] %></td>-->
        <!--<td><%#= link_to 'Show', role_customer %></td>-->
        <!--<td><%#= link_to 'Edit', edit_role_customer_path(current_user)  %></td>-->


        <%#end%>
      <!--</tbody>-->
    </table>
  </div>
</div>