

<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>Trip Id #</th>
        <th>Trip kind</th>
        <th>Order id</th>
        <th>date  </th>
        <th>Time Window Id</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <!--<%#= @orders.each do|order| %>-->

      <tr>
        <!--<td><%#=link_to(order.invoice_id , order)%></td>-->

        <% @trips.each do |key, value| %>
            <td><%=  "#{value}" %></td>

        <% end %>
        <td><%= link_to "Show", trip_management_path(@trips[:id]) %></td>
        <td><%= link_to 'Edit', edit_trip_management_path(@trips[:id])  %></td>

        <td><%= link_to "Remove",trip_management_path(@trips[:id]), method: :delete, data: { confirm: "Are you sure?" } %></td>

      </tr>



    </table>
  </div>
</div>
