

<div class="wrapper">
  <!--<div class="clearfix hidden-lg hidden-md "></div>-->

  <div class="row">
    <!--<div class="span2">-->
    <!--sidebar-->
    <div class="col-xs-4 left">

      <div class="well">
        <ul class="nav nav-sidebar">
          <li><a href="">Create User Account</a></li>
          <li><a href="">Manage User account</a></li>
          <!--<li><a href="">One more nav</a></li>-->
          <!--<li><a href="">Another nav item</a></li>-->
          <!--<li><a href="">More navigation</a></li>-->
        </ul>


        <!--</div> &lt;!&ndash;   end of sidebar&ndash;&gt;-->
      </div>
    </div>

    <div class="clearfix hidden-lg hidden-md "></div>

    <div class="col-xs-6 ">

      <div class="well"> Activites with different boxes eg: show notification for emails, opentickets etc  </div>

    </div>
    <div class="col-xs-2 ">

      <div class="well"> Activites with different boxes eg: show notification for emails, opentickets etc  </div>

    </div>
    <div class="clearfix hidden-lg hidden-md "></div>

  </div>



</div>