<%#= render 'partials/dashboard_nav'%>
<%# if signed_in %>


<div  id="main">
  <a class="sidenav-toggle-btn">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span></a>
</div>
<h2>Super Admin Dashboard!</h2>
<%= render 'body_dashboard' %>

<%= render 'nav_dash_board'%>

<%#end%>

