<p><%= flash[:notice] %></p>
<h1>Hello, Rails!</h1>
<script>
  $(document).ready(function(){
    $('.dropdown a.test').on("click", function(e){
      $(this).next('ul').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
  });
</script>

</body>
</html>
