<p><%= flash[:notice] %></p>
<h1>Hello, Rails!</h1>
<%#= render 'layouts/nav' %>
<!--<div class="navbar ">-->

<!--<%#= render 'layouts/nav' %>-->



<!--</div>-->
<script>
  $(document).ready(function(){
    $('.dropdown a.test').on("click", function(e){
      $(this).next('ul').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
  });
</script>


