<!--<div class="clearfix hidden-lg hidden-md "></div>-->
<a class="sidenav-toggle-btn">
  <span  style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</a>

<%= render 'province_side_nav' %>
<%= render 'provinces_info_table' %>
