<h1>Customer Management</h1>


<div>


        <%= render 'customer_side_nav' %>
        <%= render 'partials/customer_support' %>

</div>
            <br>

        <%= link_to "Create New Category", new_role_customer_path %>