<!--<div class="clearfix hidden-lg hidden-md "></div>-->
<a class="sidenav-toggle-btn">
  <span  style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</a>

<h1 id="default-view">Customer Management</h1>


<%= render 'customer_side_nav' %>
<%= render 'partials/customer_info_table' %>




