<!--table responsive and  scrolls horizontally-->

<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>Order Id #</th>
        <th>User Id</th>
        <th>Tenant id</th>
        <th>Vat(%)</th>
        <th>Currency</th>
        <th>Total amount</th>
        <th>Invoice Id</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
      </tr>
      </thead>


     <tr>
        <% @orders.each do |order, val| %>
            <td><%= "#{val}" %></td>
        <% end %>
       <td><%= link_to "Show", order_path(@orders[:id]) %></td>
       <td><%= link_to 'Edit', edit_order_path(@orders[:id])  %></td>
       <td><%= link_to "Remove",order_path(@orders[:id]), method: :delete, data: { confirm: "Are you sure?" } %></td>

     </tr>


    </table>
  </div>
</div>
