
<!--table responsive and  scrolls horizontally-->

<div class="table-responsive">
  <div class="container">
    <h2>Orders</h2>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th> Invoice ID</th>
        <th>.....</th>
        <th>city</th>
        <th>country</th>
        <th></th>
      </tr>
      </thead>
      <tbody>




      <%#= @orders.each do|order| %>
      <tr>
        <td><%=link_to(order.invoice_id , order)%></td>
        <td>ddd</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Debbie</td>
      </tr>
      <tr>
        <td>3</td>
        <td>John</td>
      </tr>
          <%#end%>
      </tbody>
    </table>
  </div>
</div>