

<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>Shift Id #</th>
        <th> Name </th>
        <th>Enabled(Status)</th>
        <th>start_time</th>
        <th>send_time</th>
        <th>Plant id</th>
        <th></th>
      </tr>
      </thead>

      <!--<%#= @orders.each do|order| %>-->

      <tr>
        <!--<td><%#=link_to(order.invoice_id , order)%></td>-->

        <% @shifts.each do |key, value| %>
            <td><%=  "#{value}" %></td>

        <% end %>
        <td><%= link_to "Show", shift_management_path(@shifts[:id]) %></td>
        <td><%= link_to 'Edit', edit_shift_management_path(@shifts[:id])  %></td>

        <td><%= link_to "Remove",shift_management_path(@shifts[:id]), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>

      </tr>


    </table>
  </div>
</div>
