

<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>Time Window Id #</th>
        <th>Label</th>
        <th>Tenant_id</th>
        <th>Start Time </th>
        <th>End Time</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>


      <!--<%#= @orders.each do|order| %>-->

      <tr>
        <!--<td><%#=link_to(order.invoice_id , order)%></td>-->
        <% @time_windows.each do |key, value| %>
            <td><%=  "#{value}" %></td>

        <% end %>
        <td><%= link_to "Show", time_window_management_path(@time_windows[:id]) %></td>
        <td><%= link_to "Edit",  edit_time_window_management_path(@time_windows[:id]) %></td>

        <td><%= link_to "Remove",time_window_management_path(@time_windows[:id]), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>


    </table>
  </div>
</div>
