<!--<div class="clearfix hidden-lg hidden-md "></div>-->
<a class="sidenav-toggle-btn">
  <span  style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</a>

<%= render 'time_windows_side_nav' %>
<%= render 'time_window_info_table' %>
