

<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>Plant Id #</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone No.</th>
        <th>Plant Id</th>
        <th>Enabled(Status)</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <!--<%#= @orders.each do|order| %>-->

      <tr>
        <!--<td><%#=link_to(order.invoice_id , order)%></td>-->
        <% @drivers.each do |key, value| %>
            <td><%=  "#{value}" %></td>

        <% end %>
        <td><%= link_to "Show", driver_management_path(@drivers[:id]) %></td>
        <td><%= link_to "Edit",  edit_driver_management_path(@drivers[:id]) %></td>
        <td><%= link_to "Remove", driver_management_path(@drivers[:id]), method: :delete, data: { confirm: "Are you sure?" } %></td>


      </tr>

    </table>
  </div>
</div>
